<!DOCTYPE html>
<html>
<head>
    <title>ChatRoom - demo powered by GoFrame</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/resource/image/puzzle.ico" type="image/x-icon">
    <link rel="stylesheet" href="//cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="icon" href="/resource/image/favicon.ico" type="image/x-icon">
</head>
<body>
    {{include .tplMain .}}
</body>
</html>
